= provide :title, "О проекте"
h1 Для кого сделан этот сайт
p В последнее время количество мошенников на сайте <a href="http://vk.com">ВКонтакте</a> превысило всякие мыслимые пределы, при
  этом администрация Контакта не особенно старается прекратить их деятельность,
  поэтому, чтобы помочь пользователям не стать жертвой обмана, был создан этот сайт.
p На сайте собирается информация по пользователям, которые предоставляют услуги по решению
  задач на сайте vk.com.
p Информация о мошенничестве поступает от пользователей Контакта, пострадавших от мошенника.
  В случае если есть <strong>доказательства</strong> - переписка  с мошенником
  (пересылается переписка, а не скриншоты, которые легко подделать) и чеки оплаты,
  мы добавляем мошенников в базу.
p Также ведется сбор информации о пользователях Контакта, которые честно решают задачи, и
  информация о посредниках.