= provide :title, "Контакты"
h1 Контактная информация
p Если у вас есть информация о мошеннике вы можете ее сообщить нам, написав личное сообщение
  http://vk.com/biofiz и мы добавим мошенника в нашу базу.
  